body  {
  height: 100%;
}
.nav {
  display: flex;
  float: right;
}
ul {
  list-style-type: none;
  overflow: hidden;

}

li {
  
  text-decoration: none;
  margin: 15px;
}
.signbtn  { 
  background-color: blue;
  width: 70px;  
  height: 25px;   
  border: 20px;
}

/*img {
  text-align: center;
  margin-left: 
}*/


a  {
  text-decoration: none;
  color: black;
}

.btncolor {
  color: white;
}



.maindiv {
 
  display:block;
  text-align: center;
  padding-top: 100px;
  
}
.buttons  {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.submit {
  margin: 20px;
}
.center {
 display: block;
 margin-left: auto;
 margin-right: auto;
 text-align: center; 
}

.sbar  {
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
}
.searchicon {
  height:20px;
  position:relative;
  top:5px;
  left:5px;
  margin-right: 5px;
  background-color: #b2beb5;
}
.voice{
  height:20px;
  position:relative;
  top:5px;
  left:5px;
}
.searchbar{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
  
}
footer  {
  position: absolute;
  display: block;
  left: 0;
  right: 0;
  bottom: 0;
  width: auto;
  height: 2.5rem;
 }

span  {
  padding: 10px;
}
.float-right {
  float: right;
  padding-right: 20px;
}